{% extends "base.html" %}

{% load static %}

{% block content %}

    <form>
          
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="Usuario" id="form3Example3" class="form-control form-control-lg"
          placeholder="Enter a valid email address" />
        <label class="form-label" for="form3Example3">Usuario</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-3">
        <input type="password" id="form3Example4" class="form-control form-control-lg"
          placeholder="Enter password" />
        <label class="form-label" for="form3Example4">Password</label>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <!-- Checkbox -->
        <div class="form-check mb-0">
          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
          <label class="form-check-label" for="form2Example3">
            Remember me
          </label>
        </div>
        <a href="#!" class="text-body">Forgot password?</a>
      </div>

      </div>

          </form>
  </div>

  
  {% endblock %}
  