{% extends "base.html" %}




{% block content %}
<section class="py-5 mt-5 container">
  <div class="row">
      <article class="col-md-12">
          <section>
              <div class="panel-pane pane-node-body">
                  <div class="pane-content">
                      <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                          <div class="field-items">
                              <div class="field-item even" property="content:encoded"  justify-content: center;>
                                  <p><h2>Comisión 22818 - Federico Liquin</h2></p>
                                  <br>
                                  <p><h1>Proyecto ServInquilino</h1></p>
                                  <br>
                                  <p><h2>Realizado por</h2></p>
                                  <br>
                                  <p><h2>Grupo 13 - Inmobiliaria</h2></p>
                                  <br>
                                  <table class="table-primary">
                                      <thead>
                                        <tr>
                                          <th scope="col">Integrante</th>
                                          <th scope="col">Nombre</th>
                                          <th scope="col">DNI</th>
                                          <th scope="col">Contacto</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th scope="row">1</th>
                                          <td>Danny Ramirez</td>
                                          <td>95537725</td>
                                          <td>ramdanny@gmail.com</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td>Alejandra Tovar</td>
                                          <td>23803528</td>
                                          <td>alejandratovar214@gmail.com</td>
                                        </tr>
<!--                                              <tr>
                                          <th scope="row">4</th>
                                          <td>Exequiel Villegas</td>
                                          <td>34490578</td>
                                          <td>exeqvillegas@gmail.com</td>
                                        </tr> -->
                                        <tr>
                                          <th scope="row">5</th>
                                          <td>Guillermo Barzizza</td>
                                          <td>28641700</td>
                                          <td>guillermobarzizza@gmail.com</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">6</th>
                                          <td>Ricardo R. Daubrowsky</td>
                                          <td>16617866</td>
                                          <td>rrdaubw@gmail.com</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <br>
                                    <p align="center">Permite a los inquilinos consultar la situación de las expensas.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel-separator"></div>
              <div class="panel-pane pane-entity-field pane-node-field-descargas">



                  <div class="pane-content">
                      <div class="field field-name-field-descargas field-type-file field-label-hidden">
                          <div class="field-items"></div>
                      </div>
                  </div>


              </div>
          </section>
      </article>

  </div>
</section>
{% endblock content %}